In [14]:
import pandas as pd
import numpy as np
import json
from scripts.leitor import Leitor
from scripts.ambiente import Ambiente
from scripts.problems import Metro

In [28]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [16]:
config = Leitor().loadJson('data/metro.json')
config

{'COD': 'BIN',
 'POP': 30,
 'DIM': 100,
 'ITERATIONS': 1000,
 'TYPE': 'METRO',
 'MUTATION_RATE': 0.01,
 'CROSSOVER_RATE': 0.8,
 'PENALITY': -0.2,
 'ELITISM': 1,
 'WIN_RATE': 0.9,
 'DIZIMATION_INTERVAL': 100,
 'START': 'E7',
 'END': 'E14',
 'MAP': 'data/metro.xlsx'}

In [21]:
df = pd.read_excel(config['MAP'])
df.columns

Index(['Estacao', 'E1', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'E10',
       'E11', 'E12', 'E13', 'E14'],
      dtype='object')

In [22]:
df.columns[1:]

Index(['E1', 'E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'E10', 'E11',
       'E12', 'E13', 'E14'],
      dtype='object')

In [48]:
config = Leitor().loadJson('data/metro.json')
problem = Metro()
ambiente = Ambiente(config, problem)

UEPA
['E2', 'E3', 'E4', 'E5', 'E6', 'E7', 'E8', 'E9', 'E10', 'E11', 'E12', 'E13', 'E14'] E7 E14

In [49]:
for individuo in ambiente.population:
    print(problem.decode(individuo))

['E7', 'E2', 'E11', 'E10', 'E5', 'E4', 'E12', 'E14']
['E7', 'E10', 'E5', 'E14']
['E7', 'E13', 'E11', 'E12', 'E8', 'E2', 'E6', 'E4', 'E5', 'E10', 'E9', 'E14']
['E7', 'E11', 'E13', 'E14']
['E7', 'E13', 'E8', 'E6', 'E10', 'E11', 'E14']
['E7', 'E12', 'E8', 'E4', 'E14']
['E7', 'E11', 'E5', 'E8', 'E2', 'E12', 'E4', 'E3', 'E14']
['E7', 'E14']
['E7', 'E4', 'E10', 'E11', 'E12', 'E6', 'E13', 'E9', 'E5', 'E2', 'E14']
['E7', 'E2', 'E9', 'E5', 'E4', 'E10', 'E13', 'E11', 'E3', 'E14']
['E7', 'E13', 'E12', 'E6', 'E14']
['E7', 'E14']
['E7', 'E13', 'E11', 'E12', 'E5', 'E6', 'E4', 'E9', 'E10', 'E3', 'E2', 'E8', 'E14']
['E7', 'E12', 'E3', 'E9', 'E11', 'E5', 'E13', 'E14']
['E7', 'E12', 'E2', 'E10', 'E9', 'E13', 'E6', 'E8', 'E14']
['E7', 'E11', 'E8', 'E14']
['E7', 'E10', 'E4', 'E11', 'E2', 'E5', 'E6', 'E8', 'E14']
['E7', 'E2', 'E12', 'E5', 'E6', 'E3', 'E14']
['E7', 'E12', 'E9', 'E13', 'E11', 'E14']
['E7', 'E11', 'E9', 'E10', 'E6', 'E14']
['E7', 'E14']
['E7', 'E3', 'E11', 'E4', 'E5', 'E9', 'E12', 'E2', 'E6', 'E13', 'E10', 'E8', 'E14']
['E7', 'E10', 'E2', 'E9', 'E12', 'E13', 'E3', 'E8', 'E6', 'E14']
['E7', 'E2', 'E12', 'E14']
['E7', 'E5', 'E11', 'E14']
['E7', 'E3', 'E13', 'E2', 'E12', 'E10', 'E6', 'E4', 'E9', 'E8', 'E14']
['E7', 'E3', 'E12', 'E14']
['E7', 'E6', 'E3', 'E14']
['E7', 'E10', 'E2', 'E4', 'E9', 'E5', 'E11', 'E14']
['E7', 'E11', 'E6', 'E5', 'E9', 'E2', 'E8', 'E14']

In [63]:
ambiente.problem.straight_distance_dataframe

,E1,E2,E3,E4,E5,E6,E7,E8,E9,E10,E11,E12,E13,E14
Estacao,,,,,,,,,,,,,,
E1,NaN,10.0,18.5,24.8,36.4,38.8,35.8,25.4,17.6,9.1,16.7,27.3,27.6,29.8
E2,NaN,NaN,8.5,14.8,26.6,29.1,26.1,17.3,10.0,3.5,15.5,20.9,19.1,21.8
E3,NaN,NaN,NaN,6.3,18.2,20.6,17.6,13.6,9.4,10.3,19.5,19.1,12.1,16.6
E4,NaN,NaN,NaN,NaN,12.0,14.4,11.5,12.4,12.6,16.7,23.6,18.6,10.6,15.4
E5,NaN,NaN,NaN,NaN,NaN,3.0,2.4,19.4,23.3,28.2,34.2,24.8,14.5,17.9
E6,NaN,NaN,NaN,NaN,NaN,NaN,3.3,22.3,25.7,30.3,36.7,27.6,15.2,18.2
E7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,20.0,23.0,27.3,34.2,25.7,12.4,15.6
E8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.2,20.3,16.1,6.4,22.7,27.6
E9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13.5,11.2,10.9,21.2,26.6
E10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.6,24.2,18.7,21.2
E11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,14.2,31.5,35.5
E12,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.8,33.6
E13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.1
E14,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [65]:
exemplo = problem.decode(ambiente.population[0])
print(problem.objective_function(exemplo))

<class 'numpy.float64'> nan
entroo
teste: 26.1
<class 'numpy.float64'> nan
entroo
teste: nan
<class 'numpy.float64'> nan
entroo
teste: 17.6
<class 'numpy.float64'> nan
entroo
teste: nan
<class 'numpy.float64'> 13.0
<class 'numpy.float64'> nan
entroo
teste: nan
tempos 0.5 nan
nan